@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');
body
{
    margin: 0;
    padding: 0;
}
.container
{
    position: relative;
    top:200px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;;
    align-items: center;
    background-color: blue;
    justify-content: center;
    z-index: 3  ;
  
}
.link
{   margin-bottom: 200px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:rgb(109, 109, 223)
}
.links
{
    position: fixed;
    top:38px;
    justify-content: space-between;
    font-size: medium;
    font-family: 'Roboto Mono', monospace;
    font-weight:bolder;

}
.compnylogo
{
    position: fixed;
    left :20px;
    top: 12px;
}
.tally
{
    position:fixed;
    right:120px;
    top: 6px;
}
.tepl
{
    position:fixed;
    left:180px;
    top: 28px;
}
.image
{
    position: relative;
    top: 110px;
}

